@import "bootstrap/variables";

.user-status {
  .btn-login, .header__user-block {
    display: none;
  }
  &.out {
    .btn-login {
      display: block;
    }
  }
  &.in {
    .header__user-block {
      display: block;
    }
  }
}

@green: hsl(79, 46%, 58%);
@blu-saturated: hsla(200,100%,20%, .5);

.border-box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

}

body, html {
  background: none;
  height: 100%;
}

html {
    background: -moz-radial-gradient(center, ellipse cover,  hsla(200,100%,94%,1) 50%, hsla(206,100%,86%,1) 88%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(1%,hsla(200,100%,94%,1)), color-stop(88%,hsla(206,100%,86%,1)));
    background: -webkit-radial-gradient(center, ellipse cover,  hsla(200,100%,94%,1) 50%,hsla(206,100%,86%,1) 88%);
    background: -o-radial-gradient(center, ellipse cover,  hsla(200,100%,94%,1) 50%,hsla(206,100%,86%,1) 88%);
    background: -ms-radial-gradient(center, ellipse cover,  hsla(200,100%,94%,1) 50%,hsla(206,100%,86%,1) 88%);
    background: radial-gradient(ellipse at center,  hsla(200,100%,94%,1) 50%,hsla(206,100%,86%,1) 88%);
    background-color: #b7e0ff;
}

.page {
    width: 960px;
    margin: 0 auto;
}

/* HEADER */

.page-header {
        padding: .5em 1.5em;
        margin: 0;
        position: relative;
        z-index: 10;
        border: 0 solid hsla(200,100%,20%, .5);
        border-width: 0 1px;
        background: @green;
        background-position: 42px -670px;
        color: #fff;
        text-shadow: 0 1px rgba(0,0,0,.3);
}
  .page-header__p1 {
      float: left;
  }
  .page-header__p2 {
      float: right;
  }

    .header__user-block .media-body {
        line-height: 50px;
        font-size: 18px;
    }

.page-body {
    position: relative;
    padding: 5px 0 0;
    z-index: 5;
    margin-top: -5px;
    -webkit-border-radius: 0 0 7px 7px ;
    border-radius: 0 0 7px 7px ;
    border: 1px solid @blu-saturated;
    border-width: 0 1px 1px;

    background: rgba(255,255,255,.3);
    background-position: 261px -333px;
    background-repeat: repeat !important;
}

    // Login btn
    .btn-login {
        display: inline-block;
        background: #3b5998;
        background: -moz-linear-gradient(top,  #336fc4 0%, #324d82 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#336fc4), color-stop(100%,#324d82));
        background: -webkit-linear-gradient(top,  #336fc4 0%,#324d82 100%);
        background: -o-linear-gradient(top,  #336fc4 0%,#324d82 100%);
        background: -ms-linear-gradient(top,  #336fc4 0%,#324d82 100%);
        background: linear-gradient(to bottom,  #336fc4 0%,#324d82 100%);
        background-color: #336fc4;
        border: 1px solid rgba(255,255,255,.2);

        border-radius: 3px;
        margin: 0 1em;
        vertical-align: middle;
        text-shadow: 0 1px 0 rgba(0,0,0,.5);
    }

        .btn-login:hover {
            -webkit-background-size: 100% 130%;
            background-size: 100% 150%;
        }
        .btn-login > * {
            float: left;
            padding-left:15px;
            padding-right:15px;
        }
        .btn-text {
            color: #fff;
            font: normal 20px/50px sans-serif;
        }
.icon-fb {
  height: 30px;
  display: block;
  overflow: hidden;
  border-right: 1px solid rgba(255,255,255,.1);
  padding-top: 8px;
  padding-bottom: 8px;
}
    .icon-fb:after {
        content: '';
        display: block;
        width: 16px;
        height: 34px;
        margin: auto;
        background: url(../../img/fb.png);
    }

/* NOTIFICATIONS */
.notification-area {
  overflow: hidden;
}
.alert {
  padding: 1em;
  border-width: 1px;
  margin: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  vertical-align: middle;
  text-align: middle;
}

.alert-login {

}

/* APP */

.app-root {
  overflow: hidden;
  height: 500px;
  border-bottom: 1px solid #;
}
.canvas-wrap {
    width: 67%;
    height: 100%;
    float: left;
    .border-box;
  background: #fff;
  border: 1px solid @blu-saturated;
  border-width: 0 1px 1px;
}
.canvas-wrap #drawing-stage > div,
.canvas-wrap canvas {
}

/* CHAT */

.chat-log-wrap {
    width: 33%;
    float: left;
    height: 100%;
    position: relative;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    background: rgba(255,2552,255,.5);
}

.chat-log {
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 50px;
    overflow: auto;

}

    .chat__input-holder {
      position: absolute;
      bottom: 0;
      width: 100%;
    }

// Message in chat
.msg {
    font-size: 22px;
    line-height: 1.2;

    a.pull-left {
      width: 50px;
      min-height: 1px;
    }
}
    .chat__person-name {
      line-height: 25px;
      font-size: 14px;
      margin: 0;
      color: darken(@green, 60%);
    }

.chat__input-holder {
    height: 50px;
}
#chat_input {
    .border-box;
  padding: .5em;
  font-size: 18px;
  width: 85%;
  height: 100%;
  border: 1px solid @blu-saturated;
  border-left: 0;
  border-radius: 0 2px 2px 0;
  float: left;
}
.chat__text-submit {
  float: left;
  width: 15%;
  height: 100%;
  .border-box;
}


/* onliners */

.stuff {
  padding: 2em ;
}
.block-header {
  font:normal 24px/1.3 sans-serif ;
  margin: 0 0 .5em;
}
.onliners {
  overflow: hidden;

     a {
       float: left;
       width: 50px;
       height: 50px;
       margin: 0 6px 6px 0;
       backgorund: #fff;

       img {
         display: block;
         //border: 1px solid darken(saturate(hsl(79, 46%, 58%), 20%), 30%);
         border: 1px solid @blu-saturated;
         border-radius: 2px;
         width: 50px;
         height: 50px;
         background: #3e75b6;
         background: hsl(79, 46%, 58%);

       }
     }
}

/* FOOTER */

.page-footer {
    clear: both;
  margin: 1em 0;
}

/* UTILS */


.bg-doodles {
    background-image: url("../../img/doodles1.png");
    background-repeat: no-repeat;
}
/*

.page > * ,
.app-root > * {
    outline: 1px dashed #6ca00b;
}
*/
