extends base

block content
    .page
        header.page-header.bg-doodles.clearfix
            .page-header__p1
                h1 Crockets
            .page-header__p2.user-status

                a.btn-login
                    .icon-fb
                    span.btn-text To play&nbsp;
                        b Crockets&nbsp;
                        | login with Facebook

                .media.header__user-block
                    img.pull-left.user-avatar(src="")
                    .media-body.user-name


        .page-body.bg-doodles

            .notification-area
                .alert.alert-block
                    | You should draw:&nbsp;
                    strong.the-word Elephant

            .block.block-holder-just-in-case

            .app-root
                .canvas-wrap
                    #drawing-stage

                .chat-log-wrap
                    .chat-log

                    form.chat__input-holder
                        input#chat_input(type="text")
                        button(type="submit",class="chat__text-submit") !

            .stuff
                h4.block-header Now online 3 people:
                .onliners
                    a
                        img(title="Person Name")
                    a
                        img(title="Person Name")
                    a
                        img(title="Person Name")
                    a
                        img(title="Person Name")
                    a
                        img(title="Person Name")
                    a
                        img(title="Person Name")
                    a
                        img(title="Person Name")
                    a
                        img(title="Person Name")
                    a
                        img(title="Person Name")


        footer.page-footer
            p &copy; Les Troi Buldos, 2012



block scripts
    script#tmpl-chat(type="text/html")
        .media.msg
            a.pull-left
                img.media-object(src="https://graph.facebook.com/{{ fb_id }}/picture")
            .media-body
                h4.media-heading.chat__person-name {{ name }}:
                {{ message }}

    != js("draw")
