extends base

block content
    .page
        header.page-header.bg-doodles.clearfix
            .page-header__p1
                h1 Crockets
            .page-header__p2

                .media.header__user-block
                    img.pull-left(src="http://placehold.it/50x50")
                    .media-body Pavel Shut


        .page-body.bg-doodles

            .notification-area
                .alert.alert-block
                    .login-status
                        span.name
                        a.fb(href="javascript:void(0)") Login with FB

                .alert.alert-block
                    | You should draw:&nbsp;
                    strong.the-word Elephant

            .block.block-holder-just-in-case

            .app-root
                .canvas-wrap
                    #drawing-stage

                .chat-log-wrap
                    .chat-log

                    form.chat__input-holder
                        input#chat_input(type="text")
                        button(type="submit",class="chat__text-submit") !

            .stuff
                h3 Who's online

        footer.page-footer
            p &copy; Les Troi Buldos, 2012



block scripts
    script#tmpl-chat(type="text/html")
        .media.msg
            a.pull-left
                img.media-object(src="https://graph.facebook.com/{{ fb_id }}/picture")
            .media_body
                h4.media-heading.chat__person-name {{ name }}:
                {{ message }}

    != js("draw")
