extends base

block content
    .login-status
        span.name
        a.fb(href="javascript:void(0)") Login with FB
    .canvas-wrap
        #drawing-stage
    .chat-log
    .chat-wrap
        input#chat_input(type="text")

block scripts
    != js("draw")
